<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Proyecto final codo a codo</display-name>
  <!-- src\main\java\com\oradores\controller\OradorController.java -->

  <servlet>
    <servlet-name>OradorController</servlet-name>
    <servlet-class>com.oradores.controller.OradorController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OradorController</servlet-name>
    <url-pattern>/api/oradores</url-pattern>
  </servlet-mapping>
</web-app>
